<h1>Click on the "ABC's" in Order to win!</h1>

<div id="abc-game">
  <div class="row">
    <% (0..25).to_a.shuffle.each do |number| %>
      <div class="col-md-1"> </div>
      <div class="box col-md-10 " onclick="abcBox(<%= number %>, this)"><h1> <%= @alpha[number] %></h1></div>
    <% end %>
  </div>
  
</div>