<h1>Five Click!</h1>



<div id="box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div id="gameBox" class="box col-md-3 " onclick="fiveClick()"> </div>
  </div>
</div>

<h2><div id="countOnPage"></div></h2>