<h1>Letter Boxes!</h1>

<div id="ten-boxes">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-2 " onclick="letterClick(A, this)">A</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="letterClick(B, this)">B</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="letterClick(C, this)">C</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="letterClick(D, this)">D</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="letterClick(E, this)">E</div>
  </div>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-2 " onclick="letterClick(F, this)">F</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="letterClick(G, this)">G</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="letterClick(H, this)">H</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="letterClick(I, this)">I</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="letterClick(J, this)">J</div>
  </div>
</div>