<h1>Ten Boxes</h1>



<div id="ten-boxes">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-2 " onclick="tenClick(0, this)">1</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="tenClick(1, this)">2</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="tenClick(2, this)">3</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="tenClick(3, this)">4</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="tenClick(4, this)">5</div>
  </div>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-2 " onclick="tenClick(5, this)">6</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="tenClick(6, this)">7</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="tenClick(7, this)">8</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="tenClick(8, this)">9</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-2" onclick="tenClick(9, this)">10</div>
  </div>
</div>