<h1>Click the Boxes in Order</h1>


<div id="box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="clickNumber(0, this)"><h1>1</h1> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickNumber(1, this)"><h1>2</h1> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickNumber(2, this)"><h1>3</h1> </div>
  </div>

</br>
</br>
</br>


  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="clickNumber(3, this)"><h1>4</h1> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickNumber(4, this)"><h1>5</h1> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickNumber(5, this)"><h1>6</h1> </div>

  </div>
</br>
</br>
</br>
  
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="clickNumber(6, this)"><h1>7</h1> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickNumber(7, this)"> <h1>8</h1></div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickNumber(8, this)"> <h1>9</h1></div>

  </div>
</br>
</br>
</br>

  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="clickNumber(9, this)"><h1>10</h1> </div>
  </div>
  
</div>

  

