<h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <% (0..2).to_a.each do |number| %>
      <div class="col-md-1"> </div>
      <div class="box col-md-3 " onclick="clickBox(<%= number %>, this)"> </div>
    <% end %>
  </div>
  
</div>
