<h1>Click all the Boxes</h1>


<div id="box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="boxOneClick(this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="boxTwoClick(this)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="boxThreeClick(this)"> </div>
  </div>
  
</div>