body {

  #game {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }

}

#box-game {

  .box {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 0px;
  }

  .box.right {
    background-color: green;
  }

  .box.wrong {
    background-color: red;
  }
}

#puzzle {

  .block {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
  }

  .light {
    background-color: orange;
  }
  
}

#memory-game {

  .box {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: 0px;
    font-size: 104px;
    color: white;
    text-align: center;
  }

}

#abc-game {

  .box {
    width: 150px;
    height: 150px;
    background-color: orange;
    margin: 0px;
    font-size: 104px;
    color: white;
    text-align: center;
    margin: 5px;
  }

}

#maze-game {

  .box {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: 0px;
    font-size: 104px;
    color: white;
    text-align: center;
    margin: 5px;
  }

  .box.highlighted {
    background-color: yellow;
  }

}

#ten-click {
  .box {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 0px;  
  }
}

#interact {

  .block {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    font-size: 30px;
  }

  .light {
    background-color: orange;
  }
  
}

#three-box-game {

  .box {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 0px;
  }
}

#numbers-game {

  .box {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 0px;
    color: white;
    font-size: 32px;
    text-align: center;
  }
}

#tic-tac-toe {

  .box {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    padding: 10px;
    background-color: blue;
    text-align: center;
    font-size: 125px;
    color: white;
  }

}
